.App{
  padding: 20px;
}

.col-lg-6{
  width:50%;
}
.p-2{
  padding:1em;
}
.p-4{
  padding:1.5em;
}

/* Flex Utility */
.d-flex{
  display:flex;
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}


/* Margin Utility */

.mt-1{
  margin-top:0.5em;
}
.mt-2{
  margin-top: 1em;
}
.mt-3{
  margin-top: 1.5em;
}
.mt-4{
  margin-top:2em;
}
.ml-1{
  margin-left:0.5em;
}
.ml-2{
  margin-left: 1em;
}
.ml-3{
  margin-left: 1.5em;
}
.ml-4{
  margin-left:2em;
}




/* Text Utility */
.text-blue{
  color: #68a7ff;
}

.text-dark{
  color:#444;
}

.text-gray{
  color:#adadad;  
}
.text-right{
  text-align: right;
}

.text-green{
  color:#4bb89e;
}


@media (max-width:1100px){
  .col-lg-6{
    width:100%;
  }

  .mainH{
    text-align: center;
  }
}